<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>PhotoShare</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/photoshare.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/photoshare.js"></script>
    <title>ファイルアップロードボタン</title>
</head>

<body>


    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-dark col-md-12">
            <a class="navbar-brand font-1" href="#">
                Photo Share
            </a>
            <nav> </nav>
            <div class="btn-group userMenuButton">
                <button type="button" class="btn btn-md  rounded-0" data-toggle="dropdown">
                    <img alt="userMenu" src="img/icon-userMenu.png">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/login">Login</a>
                    <a class="dropdown-item" href="/signup">Sign Up</a>
                </div>
            </div>

            <div class="btn-group siteMenuButton">
                <button type="button" class="btn btn-md rounded-0" data-toggle="dropdown">
                    <img alt="siteMenu" src="img/icon-siteMenu.png">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/photo">Photo</a>
                    <a class="dropdown-item" href="/photographer">PhotoGrapher</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/aboutus">About Us</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="topBackgroundImage">
        <img alt="siteMenu" src="img/top.jpg" class="img-fluid">
        <p>あなたの撮った風景をみんなでシェアしよう。</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="column col-md-6 caption">

                ˝<span class="text">
                    <p>
                        <label href="/indessx">AAAA</label>
                        <button><img src="img/icon-comment.png">111</button>
                        <button><img src="img/icon-heart.png">111</button>

                    </p>

                </span>
                <img src="http://gahag.net/img/201607/27s/gahag-0110156577-1.jpg" class="img-fluid">
            </div>


            <div class="column col-md-6 caption">

                ˝<span class="text">
                    <p>
                        <label href="/indessx">AAAA</label>
                        <button><img src="img/icon-comment.png">111</button>
                        <button><img src="img/icon-heart.png">111</button>

                    </p>

                </span>
                <img src="http://gahag.net/img/201607/27s/gahag-0110156577-1.jpg" class="img-fluid">
            </div>
            <div class="col-md-12 copyright" >&copy; 2019 Photo Share. All Rights Reserved.</div>
        </div>
        
    </div>


</body>
Ï

</html>