<!DOCTYPE html>

<html lang='ja'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoShare</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/photoshare.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar sticky-top navbar-expand-md navbar-darks">
        <a class="navbar-brand font-1" href="#">
            Photo Share
        </a>

        <div class="btn-group userMenuButton">
            <button type="button" class="btn btn-md  rounded-0" data-toggle="dropdown">
                <img alt="userMenu" src="static/img/icon-userMenu.png">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <p>{{ username }}</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/myphoto">My Photo</a>
                <a class="dropdown-item" href="/upload">Upload</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>

        <div class="btn-group siteMenuButton">
            <button type="button" class="btn btn-md rounded-0" data-toggle="dropdown">
                <img alt="siteMenu" src="static/img/icon-siteMenu.png">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/photo">Photo</a>
                <a class="dropdown-item" href="/photographer">PhotoGrapher</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/aboutus">About Us</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    
                    <div class="input-group">
                        <label class='input-group-btn'>
                            <span class="btn btn-dark">
                                Choose File
                                <input type="file" style='display:none' class='uoloadFile' name="userfile"
                                    accept="image/*">
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly="">
                    </div>
                    <div id='preview'></div>
                </form>
            </div>

        </div>
    </div>
    <div class="copyright">
        &copy; 2019 Photo Share. All Rights Reserved.
    </div>
    <script>
        $(function () {
            
            // アップロードするファイルを選択
            $('input[type=file]').change(function () {
                var file = $(this).prop('files')[0];
                // 画像以外は処理を停止
                if (!file.type.match('image.*')) {
                    return;
                }
                $(this).parent().parent().parent().find('input[type=text]').val = 'xxxx';
                
                // 画像表示
                var uploadImage = new Image();
                var reader = new FileReader();
                reader.onloadend = function () {
                    uploadImage.src = reader.result;
                    uploadImage.onload = function () {
                        var uploadForm = document.getElementById('upload-form')
                        var formWidth = uploadForm.clientWidth;
                        var imageHeight = uploadImage.naturalHeight;
                        var imageWidth = uploadImage.naturalWidth;
                        var resizeWidth = formWidth;
                        var resizeHeight = resizeWidth * (imageHeight / imageWidth);
                        console.log({ imageHeight: imageHeight, imageWidth: imageWidth })
                        console.log({ resizeHeight: resizeHeight, resizeWidth: resizeWidth })
                        var img = $('<img>').attr({
                            src: uploadImage.src,
                            height: resizeHeight,
                            width: resizeWidth,
                        });
                        
                        var preview = document.getElementById('preview')
                        console.log({preview:preview})
                        console.log({img:img})
                        preview.innerHTML = jQuery('<div>').append(img[0]).html();
                    }










                }
                reader.readAsDataURL(file);
            
            });
        });
    </script>
</body>

</html>